DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOSTNAME=
DATABASE_PORT=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

REDIS_URL=

EMAIL_PROVIDER=
SMTP_HOST=
SMTP_PORT=
RESEND_API_KEY=
FROM_EMAIL=