DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOSTNAME=
DATABASE_PORT=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

REDIS_URL=

EMAIL_PROVIDER=
SMTP_HOST=
SMTP_PORT=
RESEND_API_KEY=
FROM_EMAIL=

DODOPAYMENTS_API_KEY=
DODOPAYMENTS_WEBHOOK_KEY=
DODOPAYMENTS_ENVIRONMENT=
DODOPAYMENTS_PRODUCT_ID=

PUBLIC_BASE_URL=
CUSTOM_DOMAIN_CNAME_TARGET=
UPLOADS_DIR=
STORAGE_BACKEND=
R2_ACCOUNT_ID=
R2_BUCKET_NAME=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_PUBLIC_BASE_URL=
DEFAULT_PROFILE_IMAGE_URL=